#heading{
    border: 1px solid black;
    margin: 1px;
    margin-left: 1%;
    margin-right:1%;
    padding: 1px;
    height: 110px;
}
.heading-text{
    font: 20px;
}
#heading-tms, #heading-title{ 
    width: 22%;
}
#heading-banner, #heading-featured{
    width: 75%   
}  
#heading-banner, #heading-tms{
    height: 53%;
}
#heading-featured, #heading-title {
    height: 33%;
}
#heading-errs{
    background-color: red;
}
.heading-box{
    border: 1px solid gray;
    margin: 1px;
    padding: 0px;
    width: 21%;
    float:left;  
}
#aside{
    border: 1px solid red;
    margin: 1px;
    margin-left: 1%;
    margin-right:1%;
    padding: 1px;
    width: 21%;
    float:right;
    height: 800px;
}
.aside-box{
    border: 1px solid orange;
    margin: 1px;
    padding: 1px;       
}
#aside-warning{
    height: 10%;
}
#aside-description{
    height: 40%;
}
#aside-info{
    height: 20%;
}

#B-Holder, #T-Holder{
    border: 1px solid blue;
    margin: 1px;
    margin-left: 1%;
    margin-right:1%;
    padding: 1px; 
    width: 73%;
    float:left;
    height: 800px;
    overflow: scroll
}
#T-info, #T-Holder{
    border: 1px solid purple;
    float:none; 
    width: 96%;
    height: 100px;
    margin: 1px;
    margin-left: 1%;
    margin-right:1%;
}
#T-Holder{
    width: 96%;
    height: 500px;
}
    

.threads_icon{
    border: 1px solid green;
    margin: 1px;
    padding: 1px;
}
.threads_icon:hover{
    border: 1px solid green;
    background-color: green; 
}