#heading{
    border: 1px solid black;
    margin: 1px;
    margin-left: 1%;
    margin-right:1%;
    padding: 1px;
    height: 150px;
}
.heading-text{
    font: 20px;
    margin: 0;
}
#heading-tms, #heading-title{ 
    width: 16%;
}
#heading-banner, #heading-featured{
    width: 79%   
}  
#heading-banner, #heading-tms{
    height: 53%;
}
#heading-featured, #heading-title {
    height: 33%;
}

.heading-box{
    border: 1px solid gray;
    margin: 1px;
    float:left;  
}
#heading-errs{
    border: 0px solid gray;
    background-color: red;
    width: 200px;
}
.featured-but{
    border: 1px solid navy;
    height: 20px;
    width: 50px;
    float: left ;
    margin-left: 4%;
    margin-right:4%;
    align-content: center;
    text-align: center;
}

.featured-but:hover{
    background-color: aqua;
}
#aside{
    border: 1px solid red;
    margin: 1px;
    margin-left: 1%;
    margin-right:1%;
    padding: 1px;
    width: 21%;
    float:right;
    height: 800px;
}
.aside-box{
    border: 1px solid orange;
    margin: 1px;
    padding: 1px;       
}
#aside-warning{
    height: 10%;
}
#aside-warning:hover{
    height: 10%;
    background-color: red;
}
#aside-description{
    height: 40%;
}
#aside-info{
    height: 20%;
}
#aside-description:hover ,#aside-info:hover{
    background-color: gainsboro;
}
#B-Holder, #T-Holder{
    border: 1px solid blue;
    margin: 1px;
    margin-left: 1%;
    margin-right:1%;
    padding: 1px; 
    width: 73%;
    float:left;
    height: 800px;
    overflow: scroll
}
#T-info, #T-Holder{
    border: 1px solid purple;
    float:none; 
    width: 96%;
    height: 100px;
    margin: 1px;
    margin-left: 1%;
    margin-right:1%;
}
#T-Holder{
    width: 96%;
    height: 500px;
}
    

.threads_icon{
    border: 1px solid green;
    margin: 1px;
    padding: 1px;
}
.threads_icon:hover{
    border: 1px solid green;
    background-color: green; 
}
.pagebutton{
    border: 1px solid pink;
    height: 20px;
    width: 20%;
    float: left;
    text-align: center;
}
.pagebutton:hover{
    background: Pink;
}